node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/dist/
server/src/config/.db_config.json
server/wa-openwa-session
.env
.env.local
**/.local-chromium/
**/chrome-win/

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
